body{

    background-color: rgb(246,224,227);

}
.img-container {
    
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
      
}

.mySlides{

    width: 100vw;
    object-fit: cover;
}

.w3-display-left{position:absolute;top:50%;left:0%;transform:translate(0%,-50%);-ms-transform:translate(-0%,-50%)}
.w3-display-right{position:absolute;top:50%;right:0%;transform:translate(0%,-50%);-ms-transform:translate(0%,-50%)}

.w3-button:hover{color:#000!important;background-color:#ccc!important}
.w3-button{border:none;display:inline-block;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}