
@keyframes boxAnimation{

    0%{
        border: 3px solid red;

    }
    25%{

        width:100%;

    }
    100%{
        border: 3px solid red;

    }

}


.box{


    margin:0 auto;
    width: 150px;
    height: 150px;
    border: 1px solid #aaa;
    background-color:#ccc;

    animation-name: boxAnimation;
    animation-duration: 4s;


}